:root {
  --blocky: 'Space Grotesk', sans-serif;
  --smooth: 'Metropolis', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: white;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 50px;
}

h1 {
  color: black;
  font-family: var(--blocky);
  font-size: 40px;
}

p {
  color: black;
  font-family: var(--smooth);
  font-weight: 300;
  font-size: 18px;
  margin: 0;
}

.full-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.left-container {
  text-align: left;
  position: relative;
  margin-top: 200px;
  margin-left: 350px;
  margin-right: 350px;
}

.title-container {
  text-align: center;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  padding: 15px; /* Reduced padding */
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: transparent;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 15px; /* Reduced margin */
  width: 100%;
}

.button-container button {
  flex: 1;
  padding: 5px 10px; /* Smaller padding */
  font-size: 14px; /* Smaller font size */
  cursor: pointer;
}

.recommendations-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.recommendation-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.recommendation-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.recommendation-details {
  flex: 1;
  padding: 10px;
}

.recommendation-details h2 {
  margin: 0 0 10px 0;
}

.recommendation-details p {
  margin: 0 0 10px 0;
}

.get-directions {
  padding: 5px 10px; /* Adjusted padding */
  font-size: 14px; /* Adjusted font size */
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
}
