:root {
  --blocky: 'Space Grotesk', sans-serif;
  --smooth: 'Metropolis', sans-serif;
}

html {
  height: 100%;
  width: 100%;
  background: white;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

h1 {
  color: black;
  font-family: var(--blocky);
  font-size: 40px;
}

p {
  color: black;
  font-family: var(--smooth);
  font-weight: 300;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.full-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.left-container {
  text-align: left;
  position: relative;
  margin-top: 200px;
  margin-left: 350px;
  margin-right: 350px;
}