.title-container {
    text-align: center;
    position: relative;
    margin-top: 200px;
}

#title {
    color: transparent;
    font-family: var(--blocky);
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 25px;
    overflow: hidden;
}

.loading {
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from { color: transparent; }
    to { color: black; }
}