{% extends "base.html" %}

{% block title %}
    Itinerary Planner
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/checklist.css', version='1.0') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/title.css', version='1.0') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css', version='1.0') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">

    <div class="title-container">
        <div id="title">Itinerary Planner</div>
        <p id="date"></p>
    </div>
    
    <div class="form-container">
        <div class="checklist-container">
            <!-- Checkboxes will be dynamically added here -->
        </div>
        <form id="tasks-form" method="POST" action="{{ url_for('plan') }}">
            <div id="tasks-container"></div>
            <div class="button-container">
                <button type="button" onclick="addTask()">Add Task</button>
                <button type="submit">Plan</button>
            </div>
        </form>
    </div>
    
    <script src="{{ url_for('static', filename='js/checklist.js', version='1.0') }}" defer></script>
    <script src="{{ url_for('static', filename='js/memento.js', version='1.0') }}" defer></script>
    <script src="{{ url_for('static', filename='js/title.js', version='1.0') }}" defer></script>
{% endblock %}
