{% extends "base.html" %}

{% block title %}
    Itinerary Planner
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/checklist.css', version='1.0') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/title.css', version='1.0') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css', version='1.0') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">

    <div class="title-container">
        <div id="title">Itinerary Planner</div>
        <p id="date"></p>
    </div>

    <div class="form-container">
        <div class="checklist-container">
            <!-- Checkboxes will be dynamically added here -->
        </div>
        <form id="tasks-form" method="POST" action="{{ url_for('plan') }}">
            <div id="tasks-container"></div>
            <div class="button-container">
                <button class="button-2" type="button" onclick="addTask()">Add Task</button>
                <button class="button-2" type="submit">Plan Tasks</button>
            </div>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/checklist.js', version='1.0') }}" defer></script>
    <script src="{{ url_for('static', filename='js/memento.js', version='1.0') }}" defer></script>
    <script src="{{ url_for('static', filename='js/title.js', version='1.0') }}" defer></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            try {
                initChecklist();
                loadTasksFromLocalStorage();

                {% if session.recommended_activity %}
                    addTask("{{ session.recommended_activity }}");

                    fetch("{{ url_for('clear_recommended_activity') }}", { method: 'POST' })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                {% endif %}
            } catch (error) {
                console.error('Initialization error:', error);
            }
        });
    </script>
{% endblock %}
