{% extends "base.html" %}

{% block title %}Maps{% endblock %}

{% block content %}
    <style>
        .full-container {
            display: flex !important;
            flex-direction: column !important;
        }

        .left-container {
            position: relative !important;
            margin-left: 250px !important;
            margin-right: 250px !important;
        }
    </style>

        <div class="full-container">
            <div class="left-container">
                <h1 style="margin-top:-40px;">Maps</h1>
            </div>
            <script async src="//jsfiddle.net/jakemarsden/wu5y9vpm/5/embed/result/"></script>
        </div>

{% endblock %}








