{% extends "base.html" %}

{% block title %}Survey{% endblock %}

{% block content %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=places&callback=initMap" async defer></script>
    <script>

        let map, directionsService, directionsRenderer;

    // function setUserFullName() {
    //     var user = JSON.parse('{{ user | tojson | safe}}');
    //     document.getElementById('username').innerHTML = user.firstname + " " + user.lastname;
    // }


    // function setTaskLocation() {
    //     var tasks = JSON.parse('{{ tasks | tojson | safe}}');
    //     var locations = JSON.parse('{{ locations | tojson | safe}}');

    //     document.getElementById('tasks').innerHTML = tasks;
    //     document.getElementById('locations').innerHTML = locations;
       
    // }

    // // Wait for the DOM to load before setting the user's full name
    // document.addEventListener('DOMContentLoaded', function() {
    //     setUserFullName();
    //     setTaskLocation();
    // });


        function initMap(tasks, locations) {
            directionsService = new google.maps.DirectionsService();
            directionsRenderer = new google.maps.DirectionsRenderer();

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 7,
                center: { lat: 34.052235, lng: -118.243683 } // Centered at Los Angeles
            });

            directionsRenderer.setMap(map);

            const origin = "UCLA, Los Angeles, CA, USA"; // Specify the origin
            
            var tasks = JSON.parse('{{ tasks | tojson | safe}}');
            var locations = JSON.parse('{{ locations | tojson | safe}}');

            document.getElementById('tasks').innerHTML = tasks;
            document.getElementById('locations').innerHTML = locations;

            var placesToVisit = [];
            for (let i = 0; i < tasks.length; i++) {
                placesToVisit.push({ address: tasks[i] + ', ' + locations[i] });
            }
            // var placesToVisit = [
            //     { address: "Griffith Observatory, Los Angeles" },
            //     { address: "Santa Monica Pier, Santa Monica" },
            //     { address: "The Getty Center, Los Angeles, CA, USA" },
            //     { address: "Hollywood Walk of Fame, Hollywood, CA, USA" },
            //     { address: "Dodger Stadium, Los Angeles, CA, USA" }
            // ];

            var placesToVisitHTML = '';
            placesToVisit.forEach(place => {
                placesToVisitHTML += '<p>' + place.address + '</p>';
            });

            // Set the innerHTML of the placesToVisit element
            document.getElementById('placesToVisit').innerHTML = placesToVisitHTML;


            calculateAndDisplayRoute(origin, placesToVisit);
        }

        function calculateAndDisplayRoute(origin, placesToVisit) {
            const waypoints = placesToVisit.map(place => ({ location: place.address, stopover: true }));

            directionsService.route(
                {
                    origin: origin,
                    destination: placesToVisit[placesToVisit.length - 1].address, // Set destination as the last place in the list
                    waypoints: waypoints.slice(0, -1), // Remove the last waypoint as it's the final destination
                    optimizeWaypoints: false, // Ensure the waypoints are in the specified order
                    travelMode: google.maps.TravelMode.DRIVING,
                },
                (response, status) => {
                    if (status === 'OK') {
                        directionsRenderer.setDirections(response);
                        displayRouteInfo(placesToVisit, response.routes[0].legs);
                    } else {
                        alert('Directions request failed due to ' + status);
                    }
                }
            );

            // Add a marker for the origin with a black circle
            // new google.maps.Marker({
            //     position: { lat: 34.0536909, lng: -118.242766 }, // Replace with actual coordinates of Los Angeles City Hall
            //     map: map,
            //     icon: {
            //         path: google.maps.SymbolPath.CIRCLE,
            //         scale: 8,
            //         fillColor: '#000000',
            //         fillOpacity: 1,
            //         strokeColor: '#000000',
            //         strokeOpacity: 1,
            //     },
            //     title: 'Starting Point',
            // });
        }

        function displayRouteInfo(placesToVisit, routeLegs) {
            const routeInfoDiv = document.getElementById('route-info');
            routeInfoDiv.innerHTML = "<h2>Route Information</h2>";

            // Loop through routeLegs but start labels from A
            routeLegs.forEach((leg, index) => {
                const place = placesToVisit[index];
                const label = String.fromCharCode(65 + index + 1); // ASCII code for A, B, C, ...

                const info = `<p><strong>Location ${label}: </strong>${place.address}</p>`;
                routeInfoDiv.innerHTML += info;
            });
        }

        window.onload = initMap;
    </script>

    <h1 style="margin-top:130px;">Plan for the Day</h1>
    <div id="map" style="height: 500px; width: 60%; float: left;"></div>
    <div id="route-info" style="width: 40%; float: right;"></div>
    <div>
        <div id="tasks" style="display: none;"></div>
        <div id="locations" style="display: none;"></div>
        <div id="placesToVisit" style="display: none;"></div>
    </div>
{% endblock %}